
<div class="row">
    <div class="col-lg-12">
       
           <a href=@Url.Action("userManage","Account") class="btn btn-primary btn-lg">
               Manage Users <span class="glyphicon glyphicon-user"></span>
           </a>
       <hr />
        
            <a href=@Url.Action("PostList","Admin") class="btn btn-primary btn-lg">
                Manage Post <span class="glyphicon glyphicon-book"></span><span class="glyphicon glyphicon-book"></span>
            </a>
        <hr />
        <a href=@Url.Action("chatManage","Chat") class="btn btn-primary btn-lg">
            Manage Chat <span class="glyphicon glyphicon-comment"></span><span class="glyphicon glyphicon-comment"></span>
        </a>
        <hr />
        <a href=@Url.Action("manageProject","Admin") class="btn btn-primary btn-lg">
            Manage Projects <span class="glyphicon glyphicon-bookmark"></span>
        </a>

    </div>
    

</div>
