@model blogProject.Models.commentsListViewModel
<div  class="panel panel-default">
    <div class="panel-heading">
        <a href="@Url.Action("recentComments", "Post")" class="btn btn-primary">Recent Comments <span class="glyphicon glyphicon-comment"></span>
        </a>

        @*<label type="button" class="btn btn-primary">
            Recent Comments <span class="glyphicon glyphicon-comment"></span>
        </label>*@
        
    </div>
    

    
        <ul class="list-group">
            @foreach (var comment in Model.commentsList)
            {
                <li class="list-group-item">
                    <a href=@Url.RouteUrl("Default",new  {controller="Post",Action="viewpost", postId=comment.postId })>
                        <span> <span class="glyphicon glyphicon-comment"></span> 
                        @if (comment.commentTxt.Length>25)
                        {
                           @comment.commentTxt.Substring(0,25)

                     
                        }
                        else
                        {
                            @comment.commentTxt.ToString()
                        }
                        </span>

                    </a>
                   
                     
                </li>
            }
        </ul> 
    
    
   
</div>



@*<div class="panel panel-default">
    <div class="panel-heading">
       
            <a href="@Url.Action("recentComments", "Post")" class="btn btn-primary">Recent Comments <span class="glyphicon glyphicon-comment"></span></a>


    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href="#">I don't believe in astrology but still your writing style is really great! - <em>john</em></a></li>
        <li class="list-group-item"><a href="#">Wow.. what you said is really true! I'm an aries though - <em>Anto</em></a></li>
        <li class="list-group-item"><a href="#">Does capricorn and aries is compatibile? - <em>Sarah</em></a></li>
        <li class="list-group-item"><a href="#">I'm a cancer woman been in love with Leo. Will this work? - <em>Mary</em></a></li>
    </ul>
</div>*@